{% extends 'base_full_width.html' %}
{% block content %}
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="http://127.0.0.1:5000/car-recommondar-system">Car Recommendation System</a>
</nav>
<section>
    <div class="jumbotron">
        <h2 class="display-4">Car Recommendio</h2>
        <p class="lead">Select a car to get a list of recommended car based on your selected car.</p>
    </div>
</section>
<div class="container mt-5" id="car-recommondar-system">
    <div class="col">
        <div class="row">
            {% for car in cars %}
            <div class="col">
                <div class="card mb-5 cursor-pointer card-hover" style="width: 18rem;" onclick="location.href='car-recommondar-system/{{car.vid}}'">
                    <img src="{{ car.image }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ car.brand_name }} {{ car.model_name }}</h5>
                        <p class="card-text">{{ car.body_type }} - {{ car.engine }} cc</p>
                        <p class="card-text">
                            <small class="text-muted">{{ car.min_price }}</small>
                        </p>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>

    </div>
</div>

{% endblock %}